@import '../../styles/variables/colors.scss';
@import '../../styles/variables/sizes.scss';

.button {
  width: 100%;
  min-height: var(--button-height);
  background-color: var(--color-secondary);
  border-radius: 100px;
  font-family: Albert Sans;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  color: var(--color-text-primary-light);
  letter-spacing: 0.4px;
  transition: opacity 0.2s;
  cursor: pointer;

  &:disabled {
    opacity: 40%;
    cursor: default;
  }
}
