@import '../../styles/variables/colors.scss';

.button {
  width: 100%;
  max-width: 326px;
  min-height: 56px;
  background-color: $color-secondary;
  border-radius: 100px;
  font-family: Albert Sans;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  color: $color-text-primary-light;
  letter-spacing: 0.4px;
  transition: opacity 0.2s;

  &:disabled {
    opacity: 40%;
  }
}
