@import '../../styles/variables/colors.scss';

.loader__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;

  &__description {
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: $color-text-primary-light;
  }
}
