$color-primary: #1f002b;
$color-primary-dark: #1f002b;
$color-primary-light: #36173d;
$color-secondary: #e4229c;
$color-secondary-dark: #e4229b;
$color-white: #e8eaf2; //Loader
$color-black: #000;
$color-text-primary: #f2f3f5;
$color-text-primary-light: #fff;
$color-text-secondary: #c4c8cc; //Enter your email to get full access, Choose up to 3 topics you like, For TextFields Placeholders use 50% opacity
$color-text-secondary-dark: #b6b8c3; // By continuing I agree with
$color-link-primary: #eb2f9a; //Privacy policy, Terms of use
$color-link-secondary: #ececfb; //Download my answers
