$color-primary: #1F002B;
$color-primary-dark: #1F002B;
$color-primary-light: #36173D;
$color-secondary: #E4229C;
$color-secondary-dark: #E4229B;
$color-white: #E8EAF2; //Loader
$color-black: #000;
$color-text-primary: #F2F3F5;
$color-text-primary-light: #FFF;
$color-text-secondary: #C4C8CC; //Enter your email to get full access, Choose up to 3 topics you like, For TextFields Placeholders use 50% opacity
$color-text-secondary-dark: #B6B8C3; // By continuing I agree with
$color-link-primary: #EB2F9A; //Privacy policy, Terms of use
$color-link-secondary: #ECECFB; //Download my answers

