@import './colors.scss';

html {
  background-color: var(--color-primary-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  -webkit-tap-highlight-color: transparent;
  border: 0;
  overflow: visible;
  background: transparent;
  margin: 0;
  padding: 0;
  line-height: normal;
}

::-webkit-scrollbar {
  display: none;
}
