@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/sizes.scss';
@import '../../../styles/mixins/responsive.scss';

.quiz {
  &__content {
    width: 100vw;
    padding: 0 20px;
    height: calc(100vh - var(--header-height) - var(--header-margin-bottom));

    @include onTablet {
      max-width: 640px;
    }

    @include onDesktop {
      max-width: 800px;
    }

    &__description {
      display: flex;
      flex-direction: column;
      gap: 28px;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;

      &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        color: var(--color-text-primary);

        &_span {
          color: var(--color-secondary-dark);
        }
      }

      &__hint {
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        text-align: center;
        color: var(--color-text-secondary);
      }
    }
  }
}
